.show-tiles {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, 12rem); */
  gap: .5rem;
  padding-bottom: .5rem;
  /* margin: 0 .5rem 0 .5rem; */
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

#bottom-grid-and-map-container {
  /* height: 50%; */
  height: 100vh;
}

.hide-tiles {
  display: none;
}

#tabs-div-container {
  display: flex;
  margin: 0 .5rem .5rem .5rem;
  /* border-bottom: solid grey 1px; */
}

.default-tab-style {
  padding: .5rem;
  border: solid grey 1px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  width: 4rem;
  text-align: center;
}

.default-tab-style:hover {
  background-color: #212154;
  color: white;
}

.selected-tab {
  border-bottom: none;
  font-weight: bold;
}

.empty-tab-1 {
  border-bottom: solid grey 1px;
  width: 2rem;
}

.empty-tab-2 {
  border-bottom: solid grey 1px;
  width: 100%;
}

.test-div {
  /* height: 10rem; */
  height: 14rem;
  /* width: 12rem; */
  width: 16rem;
  align-self: center;
}

.test-div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hide {
  display: none;
}


/* #outermost-map-container-div {
  display: none;
} */
