#navlink_logout_button {
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

#logout_button_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4rem;
}
