#homepage-top-grid {
  display: grid;
  background-color: blue;
  /* width: 100%; */
  height: 70%;
  background-image: url("../../images/rome-6207755_1920.jpg");
  background-size: cover;
  margin: .5rem;
  border-radius: 0 0 10px 10px;
}
