#login_or_signup {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    width: 100%;
    height: 100%;
    /* original is above */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: 1fr .1fr 1fr;
    grid-template-areas:
        "title title title"
        "middle middle middle"
    ;
}

#logo-test-eben {
    color: white;
    font-size: 2.5rem;
    /* border: solid 1px white; */
    /* background-color: rgba(128, 128, 128, 0.6); */
    /* border-radius: 10px; */
    font-family: sans-serif;
    /* original is above */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* grid-area: title; */
    margin-left: 4rem;
    min-width: 16rem;
}

nav#homepage_nav-test-eben {
    grid-area: title;
    max-height: 6rem;
    background-color: #212154;
}

#homepage_div_grid-test-eben {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
    height: 100%;
}

#nav_login-test-eben {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4rem;
}

#outer_div_for_login {
    background-color: white;
    padding: 10px;
    /* original is above */
    /* grid-area: login; */
    display: inline-block;
    margin-right: 1rem;
}

#outer_div_for_signup {
    background-color: white;
    padding: 10px;
    /* original is above */
    /* grid-area: signup; */
    display: inline-block;
    margin-left: 1rem;
}

#div_containing_both_forms {
    grid-area: middle;
    display: flex;
    justify-content: center;
}

#or {
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}
