#logged_out_page_grid {
    background-image: url("./images/rome-6207755_1920.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: calc(100vh - 32rem);
}

#homepage_app_description {
    color: white;
    /* font-size: 2rem; */
}

#description_level_1 {
    padding: 7rem;
    padding-bottom: 4rem;
}

#description_level_2 {
    width: 61rem;
    font-size: 2rem;
    /* font-weight: bold; */
    background-color: rgba(33, 33, 84, 0.8);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

#description_subpoints {
    height: 23rem;
    width: 65rem;
    background-color: rgba(33, 33, 84, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

#description_subpoints_parent {
    padding-left: 7rem;
    margin-bottom: 2rem;
}

/* #description_subpoints div {
    display: inline-block;
} */

#description_subpoints svg {
    padding-left: 1rem;
    padding-top: 1rem;
}

.subpoints_text {
    display: inline-block;
    padding-top: 1rem;
    font-size: 2rem;
}

.subpoint {
    display: flex;
    align-items: center;
}

.subpoint + .subpoint {
    margin-top: 2rem;
}

#spots_grid {
    /* background-color: lightgreen; */
    padding: 5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-height: 47rem;
}

.spot_divs {
    /* display: inline-block;
    width: 15rem;
    height: 15rem;
    margin: auto; */
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 12rem;
    margin: auto;
    margin-bottom: 3rem;
}

.spot_divs img {
    /* display: inline-block; */
    /* max-width: 100%; */
    /* width: 100%; */
    /* max-height: 100%; */
    cursor: pointer;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
}

.spot_divs img:hover {
    transform: scale(1.25,1.25);
    z-index: 5;
}



/* #eben-test-div {
    background-image: url("./images/rome-6207755_1920.jpg");
    background-size: cover;
    width: 100%;
    height: calc(100vh - 6rem);
} */




.spot_divs.no_effects img {
    transform: none;
    z-index: 0;
}


#div_inside_outer_modal, #div_inside_inner_modal, #div_inside_inner_modal2 {
    display: flex;
    justify-content: center;
    height: 25rem;
}

#div_inside_inner_modal, #div_inside_inner_modal2 {
    position: relative;
}

#div_inside_outer_modal img, #div_inside_inner_modal img, #div_inside_inner_modal2 img {
    border-radius: 10px;
}

#actual_logged_out_modal, #actual_logged_in_modal, #actual_logged_in_modal2 {
    position: static;
    margin: 17rem;
}

#date_picker_container_div, #date_picker_container_div2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#date_picker_container_div input, #date_picker_container_div2 input {
    margin-left: .5rem;
    margin-right: .5rem;
}

.react-datepicker__triangle {
    /* position: static !important;
    left: 0px;
    transform: none !important; */
    display: none !important;
}

.react-datepicker-wrapper {
    width: fit-content !important;
}

.react-datepicker__close-icon {
    /* width: 15px !important;
    height: 15px !important; */
    top: .4px;
    right: 4px;
}

button.react-datepicker__close-icon::after {
    width: 13px !important;
    height: 13px !important;
}

#book_it_button_div, #update_booking_button_div {
    position: absolute;
    top: 35%;
}

#book_it_button_div button, #update_booking_button_div button {
    background-color: #27ff27;
    box-shadow: 0px 0px 5px 15px rgb(255 255 255 / 90%);
    font-size: 2rem;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    border: none;
    cursor: pointer;
}

#update_booking_button_div button {
    font-size: 1.7rem;
}










@media all and (max-width: 80rem) {
    #description_level_2 {
        width: 30rem;
    }

    #homepage_app_description {
        width: 48rem;
    }

    #signup_form_page_div {
        margin: 0;
    }

    .signup_form_labels {
        display: block;

    }

    #description_level_1 {
        padding-left: 4rem;
    }

    form#signup_form input {
        /* margin-right: 4rem; */
    }

    #description_subpoints {
        width: 33.5rem;
    }

    #description_subpoints_parent {
        padding-left: 4.5rem;
    }

    #description_subpoints {
        width: 62.5rem;
    }
  }
